<!-- saved from url=(0070)http://saigondongxuan.com.vn/admin/my_********s/my_files/135_Hack.html -->
<html><head><**** http-equiv="Content-Type" content="text/html; charset=utf-8"><title>
Hacked by ******** Tim | MRX 7</title>
<head><**** http-equiv=content-type content=text/html;charset=iso-8859-9></head>
<style type="text/css">
*,html,body,a,a:link,a:visited,a:hover,#ayt {

color:#fff;

cursor:default;

}

body

{

background:#000 url("http://s14.directupload.net/images/111113/cyabwpcl.jpg") no-repeat center top;

margin:100px 0px;

padding:0px;

text-align:center;

font-family: Verdana;

font-size: 17px;

font-weight: bold;

}

#ayt

{

width:950px;

height:535px;

margin:0px auto;

padding:15px;

border:0px solid #FFF;

border-collapse: collapse;

}


</style>





<bgsound src="../../../PerfLogs/Hacker Müziği Hacker Şarkısı Hacked Müzigi Hacker Müzihi Hacker By Hacker Music.wav" loop="-1">





</head><body><br>
<div id="ayt">
<p>Vatanımıza,Dinimize Karşı Kötü Fikirlere Sahip Olan Tüm Ülkelere Sanal Savaş Açılacaktır...! <br>
<br>
<br>
<br>
Sessizce Nöbetteyiz..! !<br>
</p>
<p>
<!--#include file="şarkı/Hacker Müziği Hacker Şarkısı Hacked Müzigi Hacker Müzihi Hacker By Hacker Music.mp3" -->
<br>
Hacked by E7 EMRE | E 7<br>
<br>
<br>
<br>
<b style="color: black; font-family: 'Times New Roman'; font-size: medium; text-align: -webkit-auto;"><span style="font-family: 'Times New Roman';"></span></b><br>
</p>

<p>
<a href="http://www.ayyildiz.org/">
</p>
<p> ******** Tim Her Hakkı Saklıdır.</p>
<p>
</p>

<object width="0" height="0"><param name="movie" value="http://www.youtube.com/v/JqFNIdxHYYY&autoplay=1?version=3&hl=tr_TR&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JqFNIdxHYYY&autoplay=1?version=3&hl=tr_TR&rel=0" type="application/x-shockwave-flash" width="0" height="0" allowscriptaccess="always" allowfullscreen="true"></embed></object>

</div></body></html>
